{% extends "base.html" %}
{% block content %}
    <!-- The trend graph -->
    <div class="hero-unit">
        <p>The trend graph should go here to easily explain how the Tweet trend correlates to the Financial data.</p>

        <p>
            <img src="/static/images/graph1.png">
        </p>
        <p>
            <a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a>
        </p>
    </div>

    <!-- Trend twitter -->
    <div class="row">
        <div class="span4">
            <h2>Select Tweet query</h2>
            <p>Box to select tweet query, so that we can dynamically change the tweets used to calculate the tweet trend.</p>
            <p><a class="btn" href="/tweets">Tweet details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Financial Data</h2>
            <p>Select the financial data you want compared to the tweet trend.</p>
            <p><a class="btn" href="/finance">Finance details &raquo;</a></p>
        </div>
        <div class="span4">
            <h2>Correlation</h2>
            <p>How well does the two graphs correlate.</p>
            <p><a class="btn" href="/trend">Trend Details &raquo;</a></p>
        </div>
    </div>
{% endblock %}