{% extends "base.html" %}
{% block content %}

    <!-- Tweet classification statistics-->
    <div class="hero-unit">
        <h4>Classification Statistics</h4>
        <div class="span2">
            <h5>Total amount of Tweets</h5>
            <p>{{ statistics.num_tweets }}</p>
        </div>
        <div class="span2">
            <h5>Manually classified</h5>
            <p>{{ statistics.manually_classified_tweets }}</p>
        </div>
        <div class="span2">
            <h5>Positive tweets a/m*</h5>
            <p>{{ statistics.positive_tweets }}</p>
        </div>
        <div class="span2">
            <h5>Negative tweets a/m*</h5>
            <p>{{ statistics.negative_tweets }}</p>
        </div>
        <div class="span2">
            <h5>Accuracy</h5>
            <p>{{ statistics.accuracy}}</p>
        </div>
        <p class="small">*automatically classified / manual classified</p>
    </div>

    <!-- Manual classification of a tweet -->
    <div class="hero-unit">
        <h4>Manual clasification of a Tweet:</h4>
        <p>{{ tweet.text }}</p>

        <form action="/manual_classification" method="post" class="span1">
            <input id="tweetid" name="id" type="hidden" value="{{ tweet.id }}"/>
            <input id="polarity" name="polarity" type="hidden" value="True"/>
            <input type="submit" class="btn btn-primary" value="Positive" />
        </form>
        <form action="/manual_classification" method="post" class="span1">
            <input id="tweetid" name="id" type="hidden" value="{{ tweet.id }}"/>
            <input id="polarity" name="polarity" type="hidden" value="False"/>
            <input type="submit" class="btn btn-primary" value="Negative" />
        </form>

    </div>


    <!-- Example of a tweet -->
    <div class="hero-unit">
        <h4>Example of a tweet, id: {{ tweet.id }}</h4>
        <p>
            {{ tweet }}
        </p>
    </div>

    {% endblock %}
