{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Tweet list -->
    <div class="hero-unit">
        <h4>Tweet - ID:92398237489</h4>

        List of metadata and the result of the sentiment classification of a tweet.
        <ul>
            <li>One sentiment result</li>
            <li>another part of the sentiment</li>
            <li>another meta data</li>
        </ul>

        <h4>Result: <i>Positive</i></h4>

        <p>
            <a href="#" class="btn btn-primary btn-small">more tweets &raquo;</a>
        </p>
    </div>

{% endblock %}
