{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Tweet list -->
    <div class="hero-unit">
        <h4>How we aggregate the trend</h4>

        <p>The great almighty algorithm for aggregating trends is described here.</p>

        <p>
            <a href="#" class="btn btn-primary btn-small">more tweets &raquo;</a>
        </p>
    </div>

    <!-- Metadata about the tweet -->
    <div class="hero-unit">
        <h4>The different parts of the trend</h4>

        <p>The trend consists of 6 or maybe 9 different variables.</p>

        <p>
            <a href="#" class="btn btn-primary btn-small">Previous tweet</a>
            <a href="#" class="btn btn-primary btn-small">Positive</a>
            <a href="#" class="btn btn-primary btn-small">Negative</a>
            <a href="#" class="btn btn-primary btn-small">Next tweet &raquo;</a>
        </p>
    </div>

{% endblock %}
