{% extends "base.html" %}
{% block content %}

<div class="hero-unit">
    <h4>Trend Graph</h4>

    <div class="row">
        <!--<div class="col-lg-12 smallChart" data-bind="lineChart: lineChartData"></div>-->
        <div class="col-lg-12 smallChart" data-bind="multiChart: multiChartData"></div>

    </div>

</div>

<!-- Tweet list -->
<div class="hero-unit">
    <h4>How we aggregate the trend</h4>

    <p>The great almighty algorithm for aggregating trends is described here.</p>

    <p>
        <a href="#" class="btn btn-primary btn-small">more tweets &raquo;</a>
    </p>
</div>

<!-- Metadata about the tweet -->
<div class="hero-unit">
    <h4>The different parts of the trend</h4>

    <p>The trend consists of 6 or maybe 9 different variables.</p>

    <p>
        <a href="#" class="btn btn-primary btn-small">Previous tweet</a>
        <a href="#" class="btn btn-primary btn-small">Positive</a>
        <a href="#" class="btn btn-primary btn-small">Negative</a>
        <a href="#" class="btn btn-primary btn-small">Next tweet &raquo;</a>
    </p>
</div>

<!-- D3 + knockout imports -->
<script type='text/javascript' src="/static/js/d3.v3.min.js" charset="utf-8"></script>
<script type='text/javascript' src="../static/js/knockout-3.0.0.js" charset="utf-8"></script>
<script type='text/javascript' src='/static/js/multi-data-view-model.js'></script>
<script type='text/javascript' src='/static/js/multi-chart-binding-handler.js'></script>
<script type='text/javascript' src='/static/js/multi-app.js'></script>

{% endblock %}
