{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Tweet metadata -->
    <div class="hero-unit">
        <h4>Tweet metadata</h4>

        <label>text</label> <p>This is the text</p>
        <label>info1</label><p>This is the first metadata info.</p>

        <p>
            <a href="#" class="btn btn-primary btn-small">Previous tweet</a>
            <a href="#" class="btn btn-primary btn-small">Positive</a>
            <a href="#" class="btn btn-primary btn-small">Negative</a>
            <a href="#" class="btn btn-primary btn-small">Next tweet &raquo;</a>
        </p>
    </div>

    <div class="hero-unit">
        <h4>Datasets</h4>

        <p>
                <a href="">Name of dataset</a>
                - 'The query for getting tweets'
                - 'Count, number of tweets in the datset'
            {% for set in datasets %}
            <li>
                <a href="dataset/{{ set.name }}">{{ set.name }}</a>
                - {{ set.metadata.query }}
                - {{ set.metadata.count }}
            </li>
            {% endfor %}
        </p>

        <a href="#" class="btn btn-primary btn-small">Create new dataset</a>
    </div>

    {% endblock %}
