{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Tweet list -->
    <div class="hero-unit">
        <h4>List of tweets</h4>

        <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
        </ul>
        <p>
            <a href="#" class="btn btn-primary btn-small">more tweets &raquo;</a>
        </p>
    </div>

    <!-- Metadata about the tweet -->
    <div class="hero-unit">
        <h4>Tweet metadata</h4>

        <label>text</label> <p>This is the text</p>
        <label>info1</label><p>This is the first metadata info.</p>

        <p>
            <a href="#" class="btn btn-primary btn-small">Previous tweet</a>
            <a href="#" class="btn btn-primary btn-small">Positive</a>
            <a href="#" class="btn btn-primary btn-small">Negative</a>
            <a href="#" class="btn btn-primary btn-small">Next tweet &raquo;</a>
        </p>
    </div>

{% endblock %}
