.neg {
    fill: steelblue;
}

.neg:hover {
    fill: brown;
}

.pos {
    fill: green;
}

.pos:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.bigChart {
    height: 500px;
}

.smallChart {
    height: 300px;
}

.election {
    background-color: steelblue;
}

.republican {
    fill: brown;
}

/* price chart specifics.*/
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.priceLine{
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}
.volumeLine{
    fill: none;
    stroke: green;
    stroke-width: 1.5px;
}
.sentimentLine{
    fill: none;
    stroke: #ffba1c;
    stroke-width: 1.5px;
}
.trendLine{
    fill: none;
    stroke: #318075;
    stroke-width: 1.5px;
}